<div class="table-responsive col-md-6">
  <table class="table" style="width:75%">
    <thead>
      <tr>
        <th>Positions</th>
        <th></th>
      </tr>
    </thead>  
    <tbody>
        <tr>
          <td>Position 1</td>
          <% if @profile.positionone == true %>
            <td><img src="http://provennutritionforkids.com/wp-content/uploads/2012/10/Green-CheckMark.png" width="20%", height="auto"></td>  
          <% else %>
            <td><img src="http://www.tonersexpress.co.uk/media/gbu0/Labels/cross_icon.png" width="20%", height="auto"></td>
          <% end %>  
        </tr>

        <tr>
          <td>Position 2</td>
          <% if @profile.positiontwo == true %>
            <td><img src="http://provennutritionforkids.com/wp-content/uploads/2012/10/Green-CheckMark.png" width="20%", height="auto"></td>  
          <% else %>
            <td><img src="http://www.tonersexpress.co.uk/media/gbu0/Labels/cross_icon.png" width="20%", height="auto"></td>
          <% end %>  
        </tr>

        <tr>
          <td>Position 3</td>
          <% if @profile.positionthree == true %>
            <td><img src="http://provennutritionforkids.com/wp-content/uploads/2012/10/Green-CheckMark.png" width="20%", height="auto"></td>  
          <% else %>
            <td><img src="http://www.tonersexpress.co.uk/media/gbu0/Labels/cross_icon.png" width="20%", height="auto"></td>
          <% end %>  
        </tr>

        <tr>
          <td>Position 4</td>
          <% if @profile.positionfour == true %>
            <td><img src="http://provennutritionforkids.com/wp-content/uploads/2012/10/Green-CheckMark.png" width="20%", height="auto"></td>  
          <% else %>
            <td><img src="http://www.tonersexpress.co.uk/media/gbu0/Labels/cross_icon.png" width="20%", height="auto"></td>
          <% end %>  
        </tr>

        <tr>
          <td>Position 5</td>
          <% if @profile.positionfive == true %>
            <td><img src="http://provennutritionforkids.com/wp-content/uploads/2012/10/Green-CheckMark.png" width="20%", height="auto"></td>  
          <% else %>
            <td><img src="http://www.tonersexpress.co.uk/media/gbu0/Labels/cross_icon.png" width="20%", height="auto"></td>
          <% end %>  
        </tr>
    </tbody>        
</table>  
</div>  