<div class="container">

<br>

<h2> What is Dota Matcher? </h2>

<p> Dota Matcher allows you to find other Dota 2 players and bring your team game to the next level </p>

<br>

<h2> Why did you make Dota Matcher? </h2>

<p> As Dota 2 players ourselves we understand the impact just one player can have on the entire team. By allowing users to find other players of similiar skill and commitment based on role or positional need, rather than hoping to random a great team, we hope that it will help lead to a better community </p>

<br>

<h2> Are you involved with Valve in any way? </h2>

<p> No we are just a team of fans that want to help the game to grow in positive direction. </p>

</div>

<br>
<br>
<br>
<br>
<br>

