@import "bootstrap-sprockets";
@import "bootstrap"; 
@import 'chosen';


body {

	background-color: #313131;
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;

}

body h3 {
	color: #ffffff;
}

body h2 {
  color: #ffffff;
}

body p {
	color: #ffffff;
}


.thumbnail p {
  color: #292c2f;
}

.thumbnail h3 {
  color: #292c2f;
}

/*.thumbnail {
 background-color: #313131;
  border-color: #313131;
}
*/

.navbar-default {
  background-color: #EFEFEB;
}

.navbar-default .navbar-brand {
  font-family: guardian-egypt, georgia, serif;
  font-weight: 400;
  color: #d5641c;
  font-size: 30px;
}

.navbar-default .navbar-nav > li > a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #0192B5;
}

.center {
  text-align: center;
}

.col-md-3:nth-child(4n+1) {
  clear: left;
}

label {
	color: #ffffff
}

.col-md-6 {
  h3 {
    font-size: 45px;
  }
  h5 {
    font-size: 25px;
  }
  p {
    font-size: 18px;
  }
}

.table {
  color: #ffffff;
}

.col-sm-9 p {
  color: #292c2f;

}

.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}


