<div class="footer">
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-inner navbar-content-center">
	        <ul class="nav navbar-nav navbar-left">
	          <li><br> &nbsp Copyright 2015 4th Kind -  Dota 2 is a registered trademark of the Valve Corporation.</li>
	        </ul>  
	        <ul class="nav navbar-nav navbar-right">
        		<% if user_signed_in? && current_user.profile.present? %>
	        		<li><%= link_to "Edit Profile", edit_profile_path(:id => current_user) %></li>
	        	<% else %>
	        		<li><%= link_to "New Profile", new_profile_path %></li>
	        	<% end %>
	        	<li><%= link_to "TOS", pages_terms_of_service_path %></li>
	        	<li><%= link_to "Privacy Policy", pages_privacy_policy_path %></li>
	        </ul>
        </div>
    </nav>
</div>